<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un nouveau client</title>
</head>
<body>
<h1>Créer un nouveau client</h1>
<form action="/clients" method="post">
    <label for="numCl">Numéro du client :</label>
    <input type="text" id="numCl" name="numCl" required><br><br>

    <label for="nomCl">Nom :</label>
    <input type="text" id="nomCl" name="nomCl" required><br><br>

    <label for="prenomCl">Prénom :</label>
    <input type="text" id="prenomCl" name="prenomCl" required><br><br>

    <label for="adresseCl">Adresse :</label>
    <input type="text" id="adresseCl" name="adresseCl" required><br><br>

    <label for="telCl">Téléphone :</label>
    <input type="text" id="telCl" name="telCl" required><br><br>

    <input type="submit" value="Ajouter">
</form>
</body>
</html>
